.video {
  display: flex;
  flex-direction: column;
  min-width: 25rem;
  flex-basis: 30vw;
  border: 1px solid #eaeaea;
  border-radius: 10px !important;
  margin: 40px 10px;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.10),
		0px 1px 20px 0px rgba(0, 0, 0, 0.10);
}


.video .video-img img {
  width: 100%;
  border-radius: 10px 10px 0 0;
  max-height: 14em;
}

.video .video-misc {
  flex-basis: 8vh;
}

.video-misc span.title {
  font-size: larger;
}
