@code {
    [Parameter]
    public Video? video { get; set; }

    private ThumbnailType GetMaximumRes(Thumbnails thumbnails)
    {
        if (thumbnails.Maxres != null)
            return thumbnails.Maxres;
        if (thumbnails.High != null)
            return thumbnails.High;
        if (thumbnails.Medium != null)
            return thumbnails.Medium;
        if (thumbnails.Standard != null)
            return thumbnails.Standard;
        return thumbnails.Default;
    }
}
@if (video != null)
{
    <div id="@video.Id" class="video">
    <div class="video-img">
        <img src="@GetMaximumRes(video.Snippet.Thumbnails).Url" />
    </div>
    <div class="video-misc">
        <span class="title">@video.Snippet.Title</span>
    </div>
</div>
}
else
{
    <p>No data</p>
}