@page "/videos"

<PageTitle>Videos</PageTitle>

@using cqfc.Data
@using cqfc.Components
@inject YTService YoutubeService

<div class="video-list">
    @if (videos == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        foreach (var video in videos)
        {
            <Card video="@video" />
        }
    }
</div>

@code {
    private Video[]? videos;

    protected override async Task OnInitializedAsync()
        => videos = await YoutubeService.GetPlaylistVideos();
}